/* General Styles */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: #fff;
}

header {
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(45deg, #ff0099, #493240);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

header h1 {
    margin: 0;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#search-bar{
    margin-top: 10px;
    text-align: center;
}
/* Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.gallery .photo {
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.gallery .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery .photo:hover img {
    transform: scale(1.1);
}

/* Lightbox Styles */
.lightbox {
    display: none;
}

.lightbox:target {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.lightbox-content {
    position: relative;
}

.lightbox-content img {
    max-width: 90%;
    max-height: 80%;
    border: 5px solid #fff;
    border-radius: 10px;
}

.lightbox .close {
    position: absolute;
    top: -30px;
    right: -30px;
    background: #fff;
    color: #111;
    font-size: 30px;
    text-decoration: none;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.lightbox .close:before {
    content: "×";
}

.lightbox .close:hover {
    background: #ff0099;
    color: #fff;
    transform: rotate(360deg);
    transition: all 0.5s ease;
}

/* Background Animation */
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
