/* General styles for all pages */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

/* Header styles */
header {
    background: linear-gradient(135deg, #ff6f61, #ff9f80);
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header H1 {
    margin: 0;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    position: relative;
    padding-bottom: 5px;
}

header nav a::after {
    content: '';
    display: block;
    height: 2px;
    background: white;
    transition: width 0.3s;
    width: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

header nav a:hover::after {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pcs-img:hover{
    transform: none;
    box-shadow: none;
}
#img1{
    transform: none;
    box-shadow: none;
}
#img2{
    transform: none;
    box-shadow: none;
}
/* About section styles */
.about {
    padding: 40px;
    margin: 20px auto;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
}

.about p {
    font-size: 1.2em;
    line-height: 1.8;
}

/* Menu item styles */
.menu-item {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.menu-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.menu-item a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.menu-item a h3 {
    margin: 15px 0;
    font-size: 1.8em;
    transition: color 0.3s;
}

.menu-item a:hover h3 {
    color: #ff6f61;
}

.menu-item a:hover img {
    border: 3px solid #ff6f61;
}
